<div class="app-card-container">
  <div class="card">
        <h1>About Coco</h1>
        <hr>
        <div class="row">

            <div class= "col-md-4">
                <%= image_tag "profile.jpg", width: '100%', alt: "profile image"  %>
            </div>

            <div class= "col-md-8">
                <p class="lead">Software engineer experienced in Ruby on Rails, JavaScript, React.js, Redux, PostgreSQL, HTML, Canvas, MySQL, Git and CSS. I love innovation and technology and getting involved in my communities. 
                </p>
                <p>After a Master of Science in biotechnology, I've had a successful career in Intellectual Property. My work experiences have honed my communication skills with multi-cultural teams. My work involved constantly learning new technologies and delivering projects in a fast paced environment under strict deadlines.
                </p>
                <p class="lead">Ever since I had exposure to programming, I was hooked and I have been coding ever since. I like puzzles, patterns, and finding creative solutions to challenging problems. 
                </p>
                <p class="lead">
                    <%= link_to 'Portfolio', portfolios_path, class: 'btn btn-lg btn-primary'  %>
                </p>
            </div>
        </div>
    </div>
</div>