
<h1 class="cover-heading">About Coco</h1>
<hr>
<div class="row">
    <div class= "col-md-4">
        <%= image_tag "profile.jpg", width: 250, alt: "profile image"  %>
    </div>
    <div class= "col-md-8">
        <p class="lead">Jean-Luc Picard was born to Maurice and Yvette Picard in La Barre, France, on 13 July 2305. ... Picard eventually served as first officer aboard the USS Stargazer, which he later commanded. During that time, he performed a warp-speed battle tactic that would become known as the Picard Maneuver.
        </p>
        <p class="lead">Jean-Luc Picard was born to Maurice and Yvette Picard in La Barre, France, on 13 July 2305. ... Picard eventually served as first officer aboard the USS Stargazer, which he later commanded. During that time, he performed a warp-speed battle tactic that would become known as the Picard Maneuver.
        </p>
    </div>
</div>

