
<main role="main" class="inner cover">
<h1 class="cover-heading">Starlight</h1>
<p class="lead">Far away
The ship is taking me far away
Far away from the memories
Of the people who care if I live or die
The starlight
I will be chasing a starlight
Until the end of my life
You electrify my life
Let's conspire to ignite
All the souls that would die just to feel alive
</p>
<p class="lead">
    <%= link_to 'About Me', about_me_path, class: 'btn btn-lg btn-secondary'  %>
</p>
</main>


   

